
*.local
.env
Model/OCR Model/Dataset/License-Characters-by-2-27classes.zip
Model/OCR Model/Keras OCR/recognizer_saudi_license_plate (2).h5
Model/OCR Model/YOLO Model For OCR/yolo_model.h5
Model/OCR Model/YOLO Model For OCR/yolo_model.pt
Main/hf_test/IMG_9462.MOV
Archive/Models/OCR Model/Keras OCR/recognizer_saudi_license_plate (2).h5
Archive/Models/OCR Model/YOLO Model For OCR/yolo_model.h5
Archive/Models/OCR Model/YOLO Model For OCR/yolo_model.pt
